// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    padding-top: 1rem;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    text-align: left;
    padding-bottom: 1rem;
}

.content {
    text-align: center;
}

.btn {
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background-color: $ss-orange;
    color: white;
}

.container {
    text-align: center;
}

hr {
    width: 75%;
    color: $ss-orange;
}

.title {
    font-size: 84px;
    color: $ss-red;
}

.links > a {
    color: $ss-orange;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

span.separator {
    color: $ss-orange;
}

div.horizontal-separator {
    border-bottom: solid 1px $ss-orange;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
